form.login-form {
    display: flex;
    flex-direction: column;
}

div.login-form {
    max-width: 30em;
    margin: auto auto;
    padding: 2em;
}

.login-form span {
    display: flex;
    flex-direction: row;
}

input.login-form {
    vertical-align: middle;
    margin-right: 0.5em;
}

body {
    background-image: url('https://img.myloview.cz/fototapety/dve-krasne-kohoutky-na-bilem-pozadi-700-74795182.jpg');
}